@(sistema: Sistema)


<!DOCTYPE html>
<html>
	<head>
		<title>Sistema de Hackfests</title>
		<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link rel="stylesheet" media="screen"
		href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png"
		href="@routes.Assets.at("images/favicon.png")">
		<script
		src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"
		type="text/javascript">
		</script>
		
	</head>
	<body>	
	 
        	
		<center><h1><b>Sistema de Hackfests - Ci&ecirc;ncia da Computação - UFCG</b></h1></center>
		<img class="centralizar" src="@routes.Assets.at("images/logo.jpg")" />
		
		<ul class="nav nav-pills">
          <li><a href="/""><action= > In&iacute;cio</a></li>
          <li><a href="/metasPorSemana">Ordenar por Semana</a></li>
          <li><a href="/metasPorPrioridade">Ordenar por Prioridade</a></li>
        </ul>
		
             
        
        
            
           
		
	</body>
</html>