@(sistema: Sistema)
<!DOCTYPE html>
<html>
	<head>
		<title>Sistema de Hackfests</title>
		<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link rel="stylesheet" media="screen"
		href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png"
		href="@routes.Assets.at("images/favicon.png")">
		<script
		src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"
		type="text/javascript">
		</script>
		
	</head>
	<body>	
		<center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
        <ul class="nav nav-pills">
          <li><a href="/""> In&iacute;cio</a></li>
          <li class="active"><a href="/cadastrarHackfest">Cadastrar um novo Hackfest</a></li>
          
        </ul>	
        <div class="container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Sistema de Hackfests - Cadastrar um novo Hackfest </b></h2></center>
		
		
		<form action="@routes.Application.newEvento()" method="post">
		
			<h3>Adicionar novo Hackfest:</h3>
			
			<input class="input-xxlarge" type="text" size="80" maxlength="30" placeholder="T&iacute;tulo do hackfest" name="nome"><br><br>
            <input class="input-xxlarge" type="text" size="176" maxlength="80" placeholder="Descreva o seu hackfest" name="descricao"><br><br>
            <input class="input-xxlarge" type="text" size="40" maxlength="10" placeholder="Data do seu hackfest: dd/mm/aaaa" name="data"> <br>
            <h4> <b>Apague</b> o(s) tema(s) na qual o seu evento n&atilde;o est&aacute; relacionado:</h4>
            <input class="input-xlarge" size="30" id="focusedInput" type="text" value="Engenharia de Software" name=tema1>
            <input class="input-xlarge" size="30" id="focusedInput" type="text" value="Banco de Dados" name=tema2>
            <input class="input-xlarge" size="30" id="focusedInput" type="text" value="Sistemas da Informacao" name=tema3>
            <input class="input-xlarge" size="30" id="focusedInput" type="text" value="Computacao Desplugada" name=tema4>
            <input class="input-xlarge" size="30" id="focusedInput" type="text" value="Desenvolvimento para Web" name=tema5>
            
			<br>
			<br>
			<input class="input-xxlarge" type="text" size="30" maxlength="30" placeholder="Insira o seu nome" name="nomeAdmin">
			<input class="input-xxlarge" type="text" size="50" maxlength="30" placeholder="Insira o Seu email" name="EmailAdmin">
			<br><br><center><input type="submit" class="btn btn-primary" value="Cadastrar">  </center></div>
             </form>
             
     </body>