@(sistema: Sistema, evento: Evento)

<!DOCTYPE html>
<html>
	<head>
		<title>Sistema de Hackfests</title>
		<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link rel="stylesheet" media="screen"
		href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png"
		href="@routes.Assets.at("images/favicon.png")">
		<script
		src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"
		type="text/javascript">
		</script>
		
	</head>
	<body>	
		<center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
        <ul class="nav nav-pills">
          <li><a href="/""> In&iacute;cio</a></li>
          <li class="active"><a href="/cadastrarHackfest">Participar de Evento</a></li>
          
        </ul>	
        <div class="container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Sistema de Hackfests - Confirma&ccedil;&atilde;o de Participa&ccedil;&atilde;o </b></h2></center>
		<h3><center>Hackfest: @evento.getNome()</center> <br>
		Idealizador do evento: @evento.getNomeAdmin() <br> Contato: @evento.getEmailAdmin() <br> </h3>
		</div>
		<center>
		<h3>Para participar insira seus dados e clique em participar:</h3>
		<h3>@evento.numDePessoasQueConfirmaram()</h3>
		<form action="@routes.Application.addParticipante(evento.getId())" method="post">
		<input class="input-xxlarge" type="text" size="30" maxlength="30" placeholder="Insira o seu nome" name="nome">
		<input class="input-xxlarge" type="text" size="50" maxlength="30" placeholder="Insira o Seu email" name="email">
		<input type="submit" class="btn btn-primary" value="Participar">  
		</form>
		</center>
		<h3>Pessoas que j&aacute; confirmaram presen&ccedil;a:</h3>
		<class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome </th>
                            <th>Email </th>
                            
                             
                            
                        </tr>
                    </thead>
                    <tbody>
                    @for(pessoa <- evento.getPessoasQueConfirmaram()) {
                    	
                        <tr>
                            <td>@pessoa.getNome()</td>
                            <td>@pessoa.getEmail()</td>
                            
                            
                            
                        </tr>
                        
                    }
                    </tbody>
                </table>
            </div>
		
		
		