@(sistema: Sistema)


<!DOCTYPE html>
<html>
	<head>
		<title>Sistema de Hackfests</title>
		<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen">
		<link rel="stylesheet" media="screen"
		href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png"
		href="@routes.Assets.at("images/favicon.png")">
		<script
		src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"
		type="text/javascript">
		</script>
		
	</head>
	<body>	
	 	 <center><img class="centralizar" src="@routes.Assets.at("images/logo.png")" /> </center>
        <ul class="nav nav-pills">
          <li class="active"><a href="/""> In&iacute;cio</a></li>
          <li><a href="/cadastro">Cadastrar um novo Hackfest</a></li>
          
        </ul>	
        <div class="container form-horizontal panel panel-primary text-info" >
        
       
		<center><h2><b>Sistema de Hackfests</b></h2></center>
		<h4>Esse sistema lhe ajudar&aacute; a promover Hackfests de tecnologias e temas que sejam interessantes. 
		<br> <br>  Um hackfest (ou hackathon) &eacute; um evento de programadores interessados em um tema ou tecnologia, que se re&uacute;nem e constroem algo no tema durante um dia.       
        <br> <br> Participe! Essas s&atilde;o &oacute;timas oportunidades para aprender novas tecnologias e desenvolver o seu Network!    
        </h4>
        </div>      
        
        @eventos(sistema, "Engenharia de Software")
        @eventos(sistema, "Sistemas da Informacao")
        @eventos(sistema, "Banco de Dados")
        @eventos(sistema, "Computacao Desplugada")
        @eventos(sistema, "Desenvolvimento para Web")
        
        
		
	</body>
</html>